yfinance
pandas
nltk
vaderSentiment
matplotlib
requests
numpy
python-dotenv
psycopg2-binary
groq
alpha_vantage
Ticker
transformers
torch==2.1.0+cpu torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu